.header-section {
  background: var(--body-color);
  color: var(--text-color);
}

.heading {
  color: var(--text-color);
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

/* IMPORTANT */

.ngb-dp-arrow {
  display: flex !important;
}

.ngb-dp-arrow-btn {
  opacity: 1 !important;
}

.ngb-dp-navigation-select {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

body.dark-theme .ngb-dp {
  background: #1f1f1f;
  border: 1px solid #3a3a3a;
}

body.dark-theme .ngb-dp-header {
  background: #2a2a2a;
  color: #fff;
}

body.dark-theme .ngb-dp-weekday,
body.dark-theme .ngb-dp-week-number {
  color: #bdbdbd;
}

body.dark-theme .ngb-dp-day,
body.dark-theme .btn-light {
  color: #fff;
  background: transparent;
}

body.dark-theme .btn-light:hover {
  background: #333;
}


.dashboard-card{
    background: var(--card-bg-color);
    color: var(--text-color);
    border:1px solid var(--border-color);
}

input{
    background: var(--body-color);
    color: var(--text-color);
    border:1px solid var(--border-color);
}