.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

/* IMPORTANT */

.ngb-dp-arrow {
  display: flex !important;
}

.ngb-dp-arrow-btn {
  opacity: 1 !important;
}

.ngb-dp-navigation-select {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

.apply-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.apply-btn {
  border: none;
  background: #7c3aed;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.apply-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}