<app-header></app-header>

<section class="header-section">
  <div class="row">
    <div class="col-lg-6">
      <h4>Calendar and Premium Newsletter (Add/Modify)</h4>
    </div>

    <div class="col-lg-6 d-flex justify-content-end header-btn">
      <button
        class="btn"
        *ngFor="let item of menuItems"
        [class.active]="activeItem === item.id"
        (click)="setActive(item.id)"
      >
        {{ item.label }}
      </button>
    </div>
  </div>

  <div *ngIf="isLoading" class="component-loader">
    <span class="loader-dot"></span>
    Loading data...
  </div>
  <div>
    <app-calendar-details
      *ngIf="activeItem === 1"
      [data]="grantData"
      (tabChange)="setActive($event)"
    >
    </app-calendar-details>
  </div>
</section>
