.card-box {
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 24px 28px;
}

.section-title {
  font-size: 16px;
  font-weight: var(fw-600);
  color: var(--text-color);
  margin-bottom: 24px;
}

.row {
  display: flex;
  gap: 32px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 1 1 45%;
  min-width: 280px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  margin-bottom: 6px;
}

.form-control {
  width: 100%;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  padding: 9px 12px;
  font-size: var(--placeholder-text);
  color: var(--text-color);
  outline: none;
  transition: all 0.2s ease;
  background: var(--white);
}

.form-control:hover {
  border-color: var(--border-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.12);
}

.error {
  color: #f04438;
  font-size: 12px;
  margin-top: 4px;
}

.buttons {
  border-top: 1px solid var(--btn-border-color);
  padding-top: 20px;
  margin-top: 12px;
  gap: 10px;
}

.btn-cancel {
  border: 1px solid #d0d5dd;
  background: #fff;
  color: var(--text-color);
  padding: 9px 22px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-cancel:hover {
  background: #f8f9fa;
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
    gap: 12px;
  }

  .col-md-6 {
    min-width: 100%;
  }
}

.page-header {
  margin-bottom: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid var(--btn-border-color);
  h4 {
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    color: var(--text-color);
    margin-bottom: 4px;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: var(--text-color);

    span {
      cursor: pointer;
    }

    .sep {
      cursor: default;
    }

    .active {
      color: var(--primary-color);
      font-weight: 500;
      cursor: default;
    }
  }
}
