<app-header></app-header>

<section class="header-section">
  <div class="heading">
    <span>Invoice</span>
  </div>

  <div class="header-sec">
    <div class="header-row">
      <!-- LEFT COLUMN -->
      <div class="header-left">
        <div class="">
          <select class="search-box" [(ngModel)]="selectedMonth" (change)="onMonthChange()">
            @for (month of monthList; track month.value) {
              <option [value]="month.value">
                {{ month.label }}
              </option>
            }
          </select>
        </div>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="header-right">
        <div>
          <button class="btn filter-btn" (click)="exportSelectedMembers()">
            <i class="bi bi-file-arrow-down"></i>
            <span>Export</span>
          </button>
        </div>

        <div style="margin-right: 20px">
          <button class="btn filter-btn w-100" routerLink="/calendar-opportunity/add-new">
            <i class="fa-solid fa-plus"></i>
            Add New
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- TABLE -->
  <div class="table-wrapper border">
    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>Invoice Number</th>
            <th>Invoice Date | Expiry Date</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Plan / Payment / Type</th>
          </tr>
        </thead>

        <tbody>
          <!-- LOADING -->
          @if (isLoading) {
            @for (i of [1, 2, 3, 4, 5]; track i) {
              <tr>
                <td colspan="8">
                  <div class="skeleton-"></div>
                </td>
              </tr>
            }
          }

          <!-- DATA -->
          @if (!isLoading && grants.length > 0) {
            @for (item of grants; track item.invoiceIndex) {
              <tr>
                <td>
                  <a (click)="goToInvoice(item.invoiceIndex)">
                    {{ item.invoiceNumber }}
                  </a>
                </td>

                <td>
                  {{ item.invoiceDate | date: 'yyyy-MM-dd' }} |
                  {{ item.planExpiryDate | date: 'yyyy-MM-dd' }}
                </td>

                <td>{{ item.firstName }} {{ item.lastName }}</td>

                <td>
                  {{ item.payerEmail }}
                </td>

                <td>
                  {{ item.planName }} | {{ item.paymentMode }} |
                  {{ item.invoiceType }}
                </td>
              </tr>
            }
          }

          <!-- NO DATA -->
          @if (!isLoading && grants.length === 0) {
            <tr>
              <td colspan="8" class="no-data">No Data Found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer-section">
    <!-- LEFT -->
    <div class="footer-left">
      <span> Total records : {{ totalCount }} </span>

      <span class="mx-2"> Rows per page: </span>

      <select class="page-select" [(ngModel)]="pageSize" (change)="changePage(1)">
        <option [value]="10">10</option>
        <option [value]="25">25</option>
        <option [value]="50">50</option>
      </select>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <!-- FIRST -->
      <button class="page-btn" (click)="changePage(1)">««</button>

      <!-- PREV -->
      <button class="page-btn" (click)="changePage(pageIndex - 1)">Prev</button>

      <!-- FIRST PAGE -->
      <button class="page-btn" [class.active]="pageIndex === 1" (click)="changePage(1)">1</button>

      <!-- DOTS -->
      @if (pageIndex > 4) {
        <span>...</span>
      }

      <!-- MIDDLE PAGES -->
      @for (p of visiblePages; track p) {
        <button class="page-btn" [class.active]="pageIndex === p" (click)="changePage(p)">
          {{ p }}
        </button>
      }

      <!-- DOTS -->
      @if (pageIndex < totalPages - 3) {
        <span>...</span>
      }

      <!-- LAST PAGE -->
      <button
        class="page-btn"
        [class.active]="pageIndex === totalPages"
        (click)="changePage(totalPages)"
      >
        {{ totalPages }}
      </button>

      <button class="page-btn" (click)="changePage(pageIndex + 1)">Next</button>

      <button class="page-btn" (click)="changePage(totalPages)">»»</button>
    </div>
  </div>
</section>
