<app-header></app-header>

<section class="header-section">
  <div class="page-header">
    <h4 class="page-title">Calendar and Premium Newsletter (Add/Edit)</h4>

    <div class="nav-btn">
      @for (item of menuItems; track item.id) {
        <button
          class="btn"
          [class.active]="activeItem === item.id"
          (click)="setActive(item.id)"
        >
          {{ item.label }}
        </button>
      }
    </div>
  </div>

  @if (isLoading) {
    <div class="component-loader">
      <span class="loader-dot"></span>
      Loading data...
    </div>
  }

  <div>

    @if (activeItem === 1 && grantData) {
      <app-calendar-details
        [data]="grantData"
        (tabChange)="setActive($event)"
      >
      </app-calendar-details>
    }

    @if (grantData) {
      <app-geo-location
        [hidden]="activeItem !== 2"
        [grantId]="grantData.id"
        (tabChange)="setActive($event)"
      >
      </app-geo-location>
    }

    @if (grantData) {
      <app-focus-area
        [hidden]="activeItem !== 3"
        [grantId]="grantData.id"
        (tabChange)="setActive($event)"
      >
      </app-focus-area>
    }

    @if (grantData) {
      <app-focus-groups
        [hidden]="activeItem !== 4"
        [grantId]="grantData.id"
        (tabChange)="setActive($event)"
      >
      </app-focus-groups>
    }

    @if (grantData) {
      <app-counties
        [hidden]="activeItem !== 5"
        [grantId]="grantData.id"
        [stCtType]="grantData.stCtType"
        [stateString]="grantData.stateString"
        [countyString]="grantData.countyString"
        (tabChange)="setActive($event)"
      >
      </app-counties>
    }

    @if (grantData) {
      <app-seo-social
        [hidden]="activeItem !== 6"
        [grantId]="grantData.id"
        (tabChange)="setActive($event)"
      >
      </app-seo-social>
    }

  </div>
</section>