<app-header></app-header>

<section class="header-section">
  <div class="heading">
    <span>Member Module</span>
  </div>

  <div class="header-sec">
    <div class="header-row">
      <!-- LEFT COLUMN -->
      <div class="header-left">
        <div class="search-box">
          <!-- <i class="fa-solid fa-magnifying-glass icons" (click)="onSearch()"></i> -->

          <div class="search-wrapper">
            <input
              type="text"
              placeholder="Search"
              [(ngModel)]="searchText"
              (focus)="showSuggestions = true"
              (keyup.enter)="onSearch()"
              (input)="onInputChange()"
            />

            @if (showSuggestions && searchHistory.length) {
              <div class="suggestions">
                @for (item of searchHistory.slice(0, 2); track item) {
                  <div class="suggestion-item" (click)="selectSuggestion(item)">
                    {{ item }}
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="">
          <select class="search-box" [(ngModel)]="selectedStatus">
            <option [ngValue]="null">Select</option>
            <option value="New">New</option>
            <option value="Active">Active</option>
            <option value="Expired">Expired</option>
            <option value="Blocked">Blocked</option>
          </select>
        </div>
        <div>
          <select class="search-box" [(ngModel)]="selectedPlanId">
            <option [ngValue]="0">Select a Plan</option>
            <option [ngValue]="1">Testing</option>
            <option [ngValue]="2">GrantsforUS Member Plan</option>
          </select>
        </div>

        <div class="col-lg-5 col-md-6 col-12">
          <ng-multiselect-dropdown
            [settings]="countieSettings"
            [data]="singleStateDropdown.data"
            [(ngModel)]="singleStateDropdown.selected"
            (onSelect)="onSingleStateChange()"
            (onDeSelect)="onSingleStateChange()"
          >
          </ng-multiselect-dropdown>
        </div>

        <button class="filter-btn" (click)="onFilterSearch()">Search</button>
      </div>

      <!-- RIGHT COLUMN -->
      <div class="header-right">
        <div>
          <button class="btn filter-btn" (click)="exportSelectedMembers()">
            <i class="bi bi-file-arrow-down"></i>
            <span>Export</span>
          </button>
        </div>

        <div style="margin-right: 20px">
          <button class="btn filter-btn w-100" routerLink="/calendar-opportunity/add-new">
            <i class="fa-solid fa-plus"></i>
            Add New
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- TABLE -->
  <div class="table-wrapper border">
    <div class="table-responsive">
      <table class="custom-table">
        <thead>
          <tr>
            <th>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll($event)" />
              </label>
            </th>

            <th>Full Name and Email Address</th>
            <th>Plan</th>
            <th>Country Extd. Exp Dt.</th>
            <th>Reg. Date Activ. Date</th>
            <th>Alert</th>
            <th>Status</th>
            <th>Type</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <!-- LOADING -->
          @if (isLoading) {
            @for (i of [1, 2, 3, 4, 5]; track i) {
              <tr>
                <td colspan="8">
                  <div class="skeleton-"></div>
                </td>
              </tr>
            }
          }

          <!-- DATA -->
          @if (!isLoading && grants.length > 0) {
            @for (item of grants; track item.memberId) {
              <tr>
                <td>
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="item.selected" (change)="onItemChange()" />
                  </label>
                </td>

                <td>
                  <div>{{ item.firstName }} {{ item.lastName }}</div>
                  <div>{{ item.email }}</div>
                </td>

                <td>
                  {{ item.plan }}
                </td>

                <td>
                  {{ item.country }} |
                  {{ item.expiryDate | date: 'yyyy-MM-dd' }}
                </td>

                <td>
                  {{ item.registrationDate | date: 'yyyy-MM-dd' }}
                  |
                  {{ item.activationDate | date: 'yyyy-MM-dd' }}
                </td>

                <td>-</td>

                <td>
                  <span class="status">
                    {{ item.memberStatus | uppercase }}
                  </span>
                </td>

                <td>
                  {{ item.memberType }}
                </td>

                <td class="icon-cell" (click)="goToEdit(item.memberId)">
                  <i class="bi bi-pencil-square"></i>
                </td>
              </tr>
            }
          }

          <!-- NO DATA -->
          @if (!isLoading && grants.length === 0) {
            <tr>
              <td colspan="8" class="no-data">No Data Found</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer-section">
    <!-- LEFT -->
    <div class="footer-left">
      <span> Total records : {{ totalCount }} </span>

      <span class="mx-2"> Rows per page: </span>

      <select class="page-select" [(ngModel)]="pageSize" (change)="changePage(1)">
        <option [value]="10">10</option>
        <option [value]="25">25</option>
        <option [value]="50">50</option>
      </select>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <!-- FIRST -->
      <button class="page-btn" (click)="changePage(1)">««</button>

      <!-- PREV -->
      <button class="page-btn" (click)="changePage(pageIndex - 1)">Prev</button>

      <!-- FIRST PAGE -->
      <button class="page-btn" [class.active]="pageIndex === 1" (click)="changePage(1)">1</button>

      <!-- DOTS -->
      @if (pageIndex > 4) {
        <span>...</span>
      }

      <!-- MIDDLE PAGES -->
      @for (p of visiblePages; track p) {
        <button class="page-btn" [class.active]="pageIndex === p" (click)="changePage(p)">
          {{ p }}
        </button>
      }

      <!-- DOTS -->
      @if (pageIndex < totalPages - 3) {
        <span>...</span>
      }

      <!-- LAST PAGE -->
      <button
        class="page-btn"
        [class.active]="pageIndex === totalPages"
        (click)="changePage(totalPages)"
      >
        {{ totalPages }}
      </button>

      <button class="page-btn" (click)="changePage(pageIndex + 1)">Next</button>

      <button class="page-btn" (click)="changePage(totalPages)">»»</button>
    </div>
  </div>
</section>
