<app-header></app-header>
<section class="header-section">
  <div class="edit-invoice-container">
    <!-- LEFT -->

    <div class="invoice-left">
      <div class="invoice-tabs">
        <button
          [class.active]="activeTab === 'invoice-details'"
          (click)="activeTab = 'invoice-details'"
        >
          Invoice details
        </button>

        <button [class.active]="activeTab === 'discount'" (click)="activeTab = 'discount'">
          Discount Coupons
        </button>

        <button [class.active]="activeTab === 'invoice'" (click)="activeTab = 'invoice'">
          Invoice Detail
        </button>

        <button [class.active]="activeTab === 'misc'" (click)="activeTab = 'misc'">
          Miscellaneous Charges
        </button>

        <button [class.active]="activeTab === 'transaction'" (click)="activeTab = 'transaction'">
          Transactions Detail
        </button>
      </div>

      <form [formGroup]="invoiceForm">
        @if (activeTab === 'invoice-details') {
          <div class="form-row">
            <label>Selected Plan:</label>

            <div class="field-group single">
              <select formControlName="plan" (change)="onPlanChange($event)">
                <option value="" disabled selected>Select</option>
                @for (plan of plans; track plan.index) {
                  <option [value]="plan.name">
                    {{ plan.name }}
                  </option>
                }
              </select>
            </div>
          </div>

          <div class="form-row">
            <label>Plan Amount:</label>

            <div class="field-group amount-row">
              <input type="text" formControlName="planAmount" />
              <span>USD</span>
            </div>
          </div>

          <div class="form-row">
            <label>Plan Activation Date:</label>

            <div class="field-group single">
              <input type="date" formControlName="planActivationDate" />
            </div>
          </div>

          <div class="form-row">
            <label>Plan Duration:</label>

            <div class="field-group">
              <input type="number" formControlName="planDuration" />

              <select formControlName="planDurationUnit">
                <option value="Year" selected>Select</option>
                <option value="Year">Year</option>
                <option value="Month">Month</option>
                <option value="day">Day</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <label>Plan Expiry Date:</label>

            <div class="field-group single">
              <input type="date" formControlName="planExpiryDate" />
            </div>
          </div>

          <div class="form-row">
            <label>Extended Expiry Date:</label>

            <div class="field-group single">
              <input type="date" formControlName="extendedExpiryDate" />
            </div>
          </div>

          <div class="form-row">
            <label>Validity Remark:</label>

            <div class="field-group single">
              <textarea rows="4" formControlName="validityRemark"></textarea>
            </div>
          </div>
        }

        @if (activeTab === 'discount') {
          <div class="form-row">
            <label>Coupon/Discount Code:</label>

            <div class="field-group single">
              <input type="text" formControlName="couponCode" />
            </div>
          </div>

          <div class="form-row">
            <label>Disc. Type & Amount:</label>

            <div class="field-group">
              <select formControlName="discountType">
                <option value="">Select</option>
                <option value="Fixed">Fixed Discount</option>
                <option value="Percentage">Percentage Discount</option>
              </select>

              <input type="number" formControlName="discountAmount" />
            </div>
          </div>

          <div class="form-row">
            <label>Amount After Discount:</label>

            <div class="field-group single">
              <input formControlName="afterDiscountAmount" />
            </div>
          </div>

          <div class="form-row">
            <label>Discount Remark:</label>

            <div class="field-group single">
              <input type="text" formControlName="discountRemark" />
            </div>
          </div>
        }

        @if (activeTab === 'invoice') {
          <div class="form-row">
            <label>Invoice Number</label>
            <input type="text" formControlName="invoiceNumber" />
          </div>

          <div class="form-row">
            <label>Invoice Status</label>
            <input type="text" formControlName="invoiceStatus" />
          </div>
        }

        @if (activeTab === 'misc') {
          <div class="form-row">
            <label>Misc (+):</label>

            <div class="field-group single">
              <input type="number" formControlName="miscAdd" />
            </div>
          </div>

          <div class="form-row">
            <label>Remark for Misc (+):</label>

            <div class="field-group single">
              <input type="text" formControlName="remarkForMiscAdd" />
            </div>
          </div>

          <div class="form-row">
            <label>Misc (-):</label>

            <div class="field-group single">
              <input type="number" formControlName="miscLess" />
            </div>
          </div>

          <div class="form-row">
            <label>Remark for Misc (-):</label>

            <div class="field-group single">
              <input type="text" formControlName="remarkForMiscLess" />
            </div>
          </div>

          <div class="form-row">
            <label>Net Taxable Amount:</label>

            <div class="field-group single">
              <input type="number" formControlName="netTaxableAmount" />
            </div>
          </div>

          <div class="form-row">
            <label>Currency:</label>

            <div class="field-group single">
              <input type="text" formControlName="currency" />
            </div>
          </div>

          <div class="form-row">
            <label>Remark for Invoice:</label>

            <div class="field-group single">
              <textarea rows="3" formControlName="remarkForInvoice"></textarea>
            </div>
          </div>
        }
        @if (activeTab === 'transaction') {
          <div class="form-row">
            <label>Net Invoice Amount:</label>
            <div class="field-group single">
              <input type="text" formControlName="netInvoiceAmount" />
            </div>
          </div>

          <div class="form-row">
            <label>Transaction Date:</label>
            <div class="field-group single">
              <input type="date" formControlName="transactionDate" />
            </div>
          </div>

          <div class="form-row">
            <label>Payment Mode:</label>
            <div class="field-group single">
              <select formControlName="paymentMode">
                <option value="Stripe">Stripe</option>
                <option value="Paypal">Paypal</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <label>Payer Email:</label>
            <div class="field-group single">
              <input type="text" formControlName="payerEmail" />
            </div>
          </div>

          <div class="form-row">
            <label>Payment ID:</label>
            <div class="field-group single">
              <input type="text" formControlName="paymentId" />
            </div>
          </div>

          <div class="form-row">
            <label>Transaction ID:</label>
            <div class="field-group single">
              <input type="text" formControlName="transactionId" />
            </div>
          </div>

          <div class="form-row">
            <label>Transaction Amount:</label>
            <div class="field-group single">
              <input type="text" formControlName="transactionAmount" />
            </div>
          </div>

          <div class="form-row">
            <label>Transaction Status :</label>
            <div class="field-group single">
              <input type="text" formControlName="transactionStatus" />
            </div>
          </div>

          <div class="form-row">
            <label>Transaction Remark:</label>
            <div class="field-group single">
              <input type="text" formControlName="transactionRemark" />
            </div>
          </div>

          <div class="form-row">
            <label>Attach Reciept:</label>

            <div class="field-group single attach-file">
              <input type="file" />
            </div>
          </div>

          <div class="form-row send-email-row">
            <label>Send Email:</label>

            <div class="send-email-group">
              <input type="checkbox" formControlName="sendEmail" />
              <span>Check to send email.</span>
            </div>
          </div>
        }

        <div class="tab-nav-row">
          <button
            type="button"
            class="button button-secondary"
            [disabled]="isFirstTab"
            (click)="goToPrevTab()"
          >
            <i class="bi bi-chevron-left"></i> Back
          </button>

          @if (!isLastTab) {
            <button type="button" class="button button-primary" (click)="goToNextTab()">
              Next <i class="bi bi-chevron-right"></i>
            </button>
          } @else {
            <button type="button" class="button button-primary" (click)="saveInvoice()">
              Save <i class="bi bi-bookmark"></i>
            </button>
          }
        </div>
      </form>
    </div>

    <!-- RIGHT -->

    <div class="member-sidebar">
      <div class="sidebar-header">
        <div class="sidebar-title-group">
          <h5>Personal Details</h5>
          <span class="member-id">Member ID: #{{ memberId }}</span>
        </div>

        <button type="button" class="btn-edit" (click)="toggleEditMode()">
          <i class="bi" [class.bi-pencil]="!isEditMode" [class.bi-x-lg]="isEditMode"></i>
          {{ isEditMode ? 'Cancel' : 'Edit' }}
        </button>
      </div>

      <form [formGroup]="memberForm">
        <form [formGroup]="memberForm">
          <!-- Member Name -->
          <div class="form-row">
            <label>Member's name:</label>

            <div class="field-group">
              <input type="text" formControlName="firstName" />
              <input type="text" formControlName="lastName" />
            </div>
          </div>

          <!-- Location -->
          <div class="form-row">
            <label>Location:</label>

            <div class="field-group">
              <select formControlName="country">
                @for (c of country; track $index) {
                  <option [value]="c.country">{{ c.country }}</option>
                }
              </select>

              <select formControlName="state">
                @for (state of states; track $index) {
                  <option [value]="state.stateName">{{ state.stateName }}</option>
                }
              </select>

              <input type="text" formControlName="zipCode" />
              <input type="text" formControlName="city" />
            </div>
          </div>

          <!-- Address -->
          <div class="form-row">
            <label>Address</label>
            <textarea formControlName="billingAddress" rows="1"></textarea>
          </div>

          <!-- Remark -->
          <div class="form-row">
            <label>Remark</label>
            <textarea formControlName="remarks" rows="1"></textarea>
          </div>

          <!-- Plan -->
          <div class="form-row">
            <label>Current Plan</label>
            <select formControlName="plan">
              @for (plan of plans; track plan.index) {
                <option [value]="plan.name">
                  {{ plan.name }}
                </option>
              }
            </select>
          </div>

          <!-- Email -->
          <div class="form-row">
            <label>Email</label>
            <input type="text" formControlName="email" />
          </div>

          <!-- Password -->
          <div class="form-row">
            <label>Password</label>
            <input type="text" formControlName="password" />
          </div>

          <!-- Phone -->
          <div class="form-row">
            <label>Phone</label>
            <input type="text" formControlName="contactNo" />
          </div>

          <!-- Status -->
          <div class="form-row">
            <label>Status</label>
            <input type="text" formControlName="memberStatus" />
          </div>

          <!-- Registration Date -->
          <div class="form-row">
            <label>Registration Date</label>
            <input type="date" formControlName="registrationDate" />
          </div>

          <!-- Activation Date -->
          <div class="form-row">
            <label>Activation Date</label>
            <input type="date" formControlName="activationDate" />
          </div>
        </form>

        <button
          type="button"
          class="btn btn-primary"
          (click)="saveMember()"
          [disabled]="!isEditMode"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</section>
