<div class="layout" [class.sidebar-closed]="isSidebarClosed">
  <nav class="sidebar" [class.close]="isSidebarClosed" (mouseleave)="closeAllMenus()">
    <header>
      <div class="image-text">
        <img class="logo small-logo" src="../../../../assets/logo1.png" alt="small logo" />
        <img class="logo big-logo" src="../../../../assets/logo (2).png" alt="big logo" />
      </div>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <!-- Dashboard -->
          <li class="nav-link">
            <a routerLink="/" class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-house icons"></i>
                <span class="text nav-text">Dashboard</span>
              </div>
            </a>
          </li>
          <li class="nav-link">
            <a
              href="#"
              class="d-flex align-items-center justify-content-between"
              (click)="toggleCollapse('components1', $event)"
            >
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-puzzle-piece icons"></i>
                <span class="text nav-text">Components</span>
              </div>
              <i
                class="fa-solid icons chevron"
                [class.fa-chevron-down]="!isOpen('components1')"
                [class.fa-chevron-up]="isOpen('components1')"
              ></i>
            </a>
          </li>

          <li [ngbCollapse]="!isOpen('components1')" class="submenu-wrapper">
            <div class="submenu">
              <a
                href="#"
                class="d-flex align-items-center justify-content-between submenu-parent"
                (click)="toggleSubCollapse('email-config', $event)"
              >
                <span>Email Configurations</span>
              </a>
              <div *ngIf="isSubOpen('email-config')" class="sub-submenu">
                <a class="mx-5" routerLink="/masters/email-settings" (click)="onLeafClick()"
                  >Email Setting</a
                >
                <a class="mx-5" routerLink="/masters/email-templates" (click)="onLeafClick()"
                  >Email Template</a
                >
              </div>
              <a
                href="#"
                class="d-flex align-items-center justify-content-between submenu-parent"
                (click)="toggleSubCollapse('user-mgmt', $event)"
              >
                <span>User Management</span>
              </a>
              <div *ngIf="isSubOpen('user-mgmt')" class="sub-submenu">
                <a class="mx-5" routerLink="/masters/users" (click)="onLeafClick()">User List</a>
                <a class="mx-5" routerLink="/user-add" (click)="onLeafClick()">Add User</a>
              </div>
              <a
                href="#"
                class="d-flex align-items-center justify-content-between submenu-parent"
                (click)="toggleSubCollapse('products', $event)"
              >
                <span>Products</span>
              </a>
              <div *ngIf="isSubOpen('products')" class="sub-submenu">
                <a class="mx-5" routerLink="/masters/plans" (click)="onLeafClick()"
                  >Business Plans</a
                >
              </div>
            </div>
          </li>

          <!-- Online Resources -->
          <li class="nav-link">
            <a
              href="#"
              class="d-flex align-items-center justify-content-between"
              (click)="toggleCollapse('components2', $event)"
            >
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-globe icons"></i>
                <span class="text nav-text">Online Resources</span>
              </div>
              <i
                class="fa-solid icons chevron"
                [class.fa-chevron-down]="!isOpen('components2')"
                [class.fa-chevron-up]="isOpen('components2')"
              ></i>
            </a>
          </li>
          <li [ngbCollapse]="!isOpen('components2')" class="submenu-wrapper">
            <div class="submenu">
              <a class="mx-5" routerLink="/calendar-opportunity">Calendar Opportunity</a>
            </div>
          </li>

          <!-- Premium Members -->
          <li class="nav-link">
            <a
              href="#"
              class="d-flex align-items-center justify-content-between"
              (click)="toggleCollapse('components3', $event)"
            >
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-people-group icons"></i>
                <span class="text nav-text">Premium Members</span>
              </div>
              <i
                class="fa-solid icons chevron"
                [class.fa-chevron-down]="!isOpen('components3')"
                [class.fa-chevron-up]="isOpen('components3')"
              ></i>
            </a>
          </li>
          <li [ngbCollapse]="!isOpen('components3')" class="submenu-wrapper">
            <div class="submenu">
              <a class="mx-5" routerLink="/premium-members/memberModule">Member Module</a>
              <a class="mx-5" routerLink="/premium-members/add-member">Add New Member</a>
              <a class="mx-5" routerLink="/premium-members/member-search">Member Advanced Search</a>
              <a class="mx-5" routerLink="/premium-members/invoice">Invoice Search</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="menu-footer">
        <ul>
          <li class="nav-link logout">
            <a href="#" (click)="logout()" class="">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-arrow-right-from-bracket icons"></i>
                <span class="text nav-text">Logout</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="content">
  <section class="home">
    <div class="breadcrumb">
      <span routerLink="/"><i class="bi bi-house-fill"></i>Home</span>
      <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
        <span class="separator">/</span>
        <span [routerLink]="crumb.url" [class.active]="last">{{ crumb.label }}</span>
      </ng-container>
    </div>
  </section>
</div>
